services:
  mongo:
    image: mongo:latest
    container_name: "llm_engineering_mongo"
    logging:
      options:
        max-size: 1g
    environment:
      MONGO_INITDB_ROOT_USERNAME: "llm_engineering"
      MONGO_INITDB_ROOT_PASSWORD: "llm_engineering"
    ports:
      - 27017:27017
    volumes:
      - mongo_data:/data/db
    networks:
      - local
    restart: always

  qdrant:
    image: qdrant/qdrant:latest
    container_name: "llm_engineering_qdrant"
    ports:
      - 6333:6333
      - 6334:6334
    expose:
      - 6333
      - 6334
    volumes:
      - qdrant_data:/qdrant/storage
    networks:
      - local
    restart: always

  mongo-express:
    image: mongo-express:latest
    container_name: "llm_engineering_mongo_express"
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: "llm_engineering"
      ME_CONFIG_MONGODB_ADMINPASSWORD: "llm_engineering"
      ME_CONFIG_MONGODB_URL: "mongodb://llm_engineering:llm_engineering@mongo:27017/"
      ME_CONFIG_BASICAUTH: "false"
    networks:
      - local


volumes:
  mongo_data:
  qdrant_data:

networks:
  local:
    driver: bridge